html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.cover-wrapper {
    background: $secondary-color;
    background-image: url(../images/cover-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}


.container {
    max-width: 1500px;
    margin: 0 auto;

    @media (max-width: 1549px) {
        padding: 0 25px;
    }
}

.nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24 / 20 * 100%;
    color: $white;
}

.main-title {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    line-height: 17 / 12 * 100%;
    color: $mainTitle-color;
}

.main {
    flex: 1 0 auto;
    background: $mainBg-color;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 72 / 65 * 100%;
    color: $accent-color;
}

.subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 42 / 32 * 100%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.desc-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
}

.btn-more {
    padding: 15px 62px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17 / 14 *100%;
    text-transform: uppercase;
    color: $accent-color;
    border: 2px solid $btn-color;
    opacity: 0.8;

    @media (min-width: 1024px) {
        transition: border 0.1s ease, color 0.1s ease-in-out;

        &:hover {
            border: 2px dotted $accent-color;
            color: $btn-color;
        }
    }
}

.btn-book {
    padding: 22px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25 / 20 * 100%;
    text-transform: uppercase;
    color: $white;
    background: $btn-color;

    @media (min-width: 1024px) {
        transition: background 0.3s ease-in-out;
    }

    &:hover {
        background: $btnBook-hover;
    }
}

.discount {
    display: inline-block;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 12 / 8 * 100%;
    background: linear-gradient(109.98deg, #1577E4 6.71%, #00D583 105.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.footer {
    flex: 0 0 auto;
}