.body {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
}

.container {
    max-width: 1550px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        padding: 0 30px;
    }
}

.btn-more {
    padding: 20px 62px;
    @extend %main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17 / 14 *100%;
    text-transform: uppercase;
    color: $accent-color;
    border: 2px solid $btn-color;
    opacity: 0.8;

    @media (min-width: 900px) {
        transition: font-weight 0.1s ease;

        &:hover {
            font-weight: 600;
        }
    }
}

.btn-book {
    padding: 22px 70px;
    @extend %main-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 25 / 20 * 100%;
    text-transform: uppercase;
    color: $white;
    background: $btn-color;

    @media (min-width: 900px) {
        transition: background 0.3s ease-in-out;
    }

    &:hover {
        background: $btnBook-hover;
    }
}