@media (min-width: 768px) {
    .cashback__container {
        background: linear-gradient(rgba(73, 187, 255, 0.6), rgba(239, 249, 255, 0.6)), url(../images/world-map.jpg);
        background-position: center;
    }

    .discount {
        font-size: 8rem;
    }
}