@media (min-width: 320px) {
    .btn-book {
        font-size: 14px;
    }
}

@media (min-width: 375px) {

    .form__input-date,
    .form__input,
    .form__select,
    .form__area {
        font-size: 14px;
    }

    .entertainment__item {
        padding: 15px 15px 40px;
    }

    .map__iframe {
        max-width: 400px;
    }
}

@media (min-width: 500px) {
    .cover__description {
        font-size: 20px;
    }

    .benefits__number-mobile {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .benefits__title {
        max-width: 1150px;
        margin: 0 auto;
        padding-left: 100px;
    }

    .benefits__number {
        position: relative;

        &::before {
            content: "6";
            position: absolute;
            top: 23px;
            left: -63px;
            font-size: 100px;
            line-height: 72 / 170 * 100%;
        }
    }

    .subtitle {
        font-size: 22px;
    }

    .entertainment__desc,
    .entertainment__price {
        font-size: 18px;
    }

    .form__input,
    .form__select {
        width: 80%;
    }

    .contacts-info__link,
    .contacts-info__text {
        font-size: 18px;
    }

    .contacts-info__link {
        &:nth-child(2) {
            margin-right: 12px;
        }
    }

    .footer-inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-menu {
        flex-direction: row;
    }

    .footer__text {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .footer__btn {
        margin-bottom: 150px;
        padding: 24px 46px;
        font-size: 14px;
    }

    .copyright {
        flex-wrap: nowrap;
    }

    .copyright__text {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .cover-wrapper {
        background-image: url(../images/cover-tablet.jpg);
    }

    .header__inner {
        height: 80px;
    }

    .main-title {
        font-size: 7.5rem;
    }

    .btn-book {
        padding: 22px 70px;
        font-size: 20px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
        padding: 54px 40px;
    }

    .review__title,
    .review__author {
        font-size: 20px;
    }

    .review__text {
        font-size: 16px;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 25px;
    }

    .text {
        font-size: 18px;
    }

    .desc-text {
        font-size: 16px;
    }

    .tabs {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 36px;
    }

    .tabs__btn {
        margin-bottom: 0;
        margin-right: 15px;
        padding: 10px 40px;
    }

    .rooms-slider__img {
        max-width: 320px;
    }

    .booking__list {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .booking__item {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 85px;
        }
    }

    .form__dropdown,
    .form__group {

        &::before {
            top: 65px;
        }
    }

    .form__input {
        position: relative;
        padding-left: 26px;
        padding-right: 24px;
    }

    .entertainment__items {
        margin-top: 64px;
    }

    .gallery__btn {
        padding: 20px 62px;
    }

    .cashback__container {
        background: linear-gradient(rgba(73, 187, 255, 0.6), rgba(239, 249, 255, 0.6)), url(../images/world-map.jpg);
        background-position: center;
        background-size: cover;
    }

    .discount {
        font-size: 8rem;
    }

    .map__btn {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .footer-menu {
        padding-bottom: 69px;
    }

    .footer__contacts {
        margin-bottom: 112px;
    }

    .footer__phone {
        font-size: 30px;
    }
}

@media (min-width: 900px) {
    .services__link {
        transition: color .3s ease-in-out;

        &:hover {
            color: $btnBook-hover;
        }
    }

    .services__arrow-right {
        padding-left: 10px;

        &::before {
            content: '';
            width: 25px;
            height: 2px;
            background: $dusty-gray;
            display: inline-block;
            vertical-align: middle;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $dusty-gray;
            vertical-align: middle;
        }
    }
}

@media (min-width: 1024px) {
    .cover__items {
        flex-direction: row;
        justify-content: space-between;
    }

    .cover__title {
        margin-top: 75px;
    }

    .cover__description {
        font-size: 30px;
    }

    .review {
        margin-top: 131px;
    }

    .services {
        margin-top: 161px;
    }

    .benefits__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        margin-top: 100px;
    }

    .benefits__item {
        display: flex;
    }

    .benefits__info {
        margin-top: 0;
        margin-left: 50px;
    }

    .tabs__btn {
        padding: 15px 54px;
    }

    .rooms-slider__item {
        padding: 15px;
    }

    .rooms-slider__img {
        max-width: 463px;
        margin-bottom: 30px;
    }

    .btn-more {
        padding: 20px 62px;
        font-size: 14px;
    }

    .form {
        flex-direction: row;
    }

    .form__left {
        margin-right: 52px;
    }

    .form__dates {
        display: flex;
    }

    .form__date {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    .form__item {
        &:not(:last-child) {
            margin-right: 51px;
        }
    }

    .form__input-date,
    .form__input,
    .form__select,
    .form__area {
        font-size: 18px;
    }

    .form__input,
    .form__select {
        width: 467px;
    }

    .entertainment__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .entertainment__picture {
        margin-right: 50px;
    }

    .gallery__items {
        grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
    }

    .gallery__img {
        max-height: 300px;
    }

    .gallery__link {
        margin-top: 80px;
    }

    .reviews__text {
        -webkit-line-clamp: 7;
    }

    .reviews__bottom {
        margin-right: 5rem;
    }

    .cashback__container {
        margin-bottom: 50px;
        padding-top: 100px;
        padding-bottom: 145px;
        padding-left: 0;
        padding-right: 0;
    }

    .contacts__items {
        gap: 20px;
    }

    .map__btn {
        font-size: 25px;
    }

    .map__iframe {
        max-width: 500px;
    }

    .contacts-info__link,
    .contacts-info__text {
        font-size: 20px;
    }

    .footer__btn {
        margin-bottom: 100px;
        transition: border 0.3s ease-in-out;

        &:hover {
            border: 2px dotted $white;
        }
    }

    .mars-link {
        transition: color .5s ease;

        &:hover {
            color: #f22323;
        }
    }
}

@media (min-width: 1366px) {
    .cover-wrapper {
        background-image: url(../images/cover-desktop.jpg);
    }

    .header__inner {
        height: 122px;
    }

    .menu-left__item {
        &:hover>.dropdown {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 32px;
    }

    .text {
        font-size: 25px;
    }

    .benefits__number::before {
        font-size: 120px;
        top: 35px;
        left: -75px;
    }

    .rooms-slider {
        gap: 21px;
    }

    .rooms-slider__title {
        margin-top: 25px;
    }

    .rooms-slider__inner {
        padding-left: 38px;
        padding-right: 7px;
        padding-bottom: 12px;
    }

    .rooms-slider__pictures {
        &::before {
            width: 190px;
            height: 50px;
            font-size: 20px;
        }
    }

    .rooms-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .rooms-info__list {
        margin-right: 5px;
    }

    .rooms-info__item {
        padding-left: 15px;

        &::before {
            left: -5px;
        }
    }

    .prices {
        margin-top: 0;
        margin-left: 10px;

        &::before {
            width: 2px;
            height: 100%;
            top: 0;
            left: -10px;
        }
    }

    .booking__list {
        margin-bottom: 80px;
    }

    .form__dropdown,
    .form__group {
        &::before {
            top: 75px;
        }
    }

    .entertainment__items {
        gap: 20px;
    }

    .entertainment__item {
        flex-direction: row;
        justify-content: flex-start;
        padding: 30px 31px 60px 20px;
    }

    .reviews__text {
        font-size: 20px;
        -webkit-line-clamp: 8;
    }

    .reviews__items {
        margin-top: 80px;
    }

    .reviews__content {
        padding: 65px 50px;
    }

    .reviews__img {
        width: 101px;
        height: 101px;
    }

    .slick-dots {
        bottom: -10px;

        & button {
            font-size: 30px;
        }
    }

    .slider-btn {
        cursor: pointer;
    }

    .contacts {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contacts__items {
        gap: 100px;
    }

    .contacts__title {
        margin-top: 50px;
    }

    .map__iframe {
        max-width: 600px;
    }

    .map__btn {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 31px;
            left: 0;
            width: 100%;
            height: -2px;
            background: $accent-color;
            transition: height .5s ease-in-out;
        }

        &:hover {
            &::after {
                height: 2px;
            }
        }
    }

    .footer-menu__list {
        &:not(:last-child) {

            margin-right: 81px;
        }
    }

    .footer__btn {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1535px) {
    .main-title {
        font-size: 12.5rem;
    }

    .services {
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 0;
    }

    .title {
        font-size: 65px;
    }

    .booking__btn {
        margin-top: 53px;
    }

    .reviews__container {
        padding-top: 100px;
        padding-bottom: 150px;
        background-image: url(../images/reviews-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .reviews__text {
        font-size: 25px;
        -webkit-line-clamp: 10;
    }

    .reviews__bottom {
        margin-right: 9rem;
    }

    .footer__phone {
        font-size: 35px;
    }
}

@media (min-width: 1550px) {
    .gallery__items {
        grid-template-columns: repeat(4, minmax(351px, 1fr));
        place-items: center;
    }

    .gallery__item--large {
        grid-column: span 2;
        grid-row: span 2;
    }

    .gallery__item--medium {
        grid-column: span 1;
        grid-row: span 2;
    }

    .gallery__img {
        max-height: 478px;
    }
}

@media (min-width: 1920px) {
    .benefits__number::before {
        top: 41px;
        left: -100px;
        font-size: 170px;
    }

    .footer-inner {
        padding-left: 199px;
        padding-right: 199px;
    }
}

//////////////////////////////////////////////

@media (max-width:1874px) {

    .menu-left,
    .menu-right {
        padding-top: 20px;
    }

    .menu-left {
        padding-right: 10px;
    }

    .menu-right {
        padding-left: 30px;
        padding-right: 15px;
    }

    .menu-right__list,
    .menu-left__list {
        padding-bottom: 15px;
    }

    .menu-right__item,
    .menu-left__item {
        padding-top: 15px;
    }

    .dropdown {
        top: 40px;
        background: $primary-color;
    }
}

@media (max-width:1365px) {
    .menu-left {
        padding-right: 10px;
    }

    .menu-left__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    .menu-right {
        padding-left: 5px;
    }

    .logo {
        margin-left: 20px;
        order: -1;
    }
}

@media (max-width: 1023px) {
    .menu-left {
        padding-right: 40px;
    }

    .logo {
        margin-right: 0;
    }

    .menu-right {
        display: none;
    }
}

@media (max-width: 767px) {

    .menu-left__list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $mobile-menu-bg;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .5s;
        overflow: auto;
    }

    .menu-left__list.active {
        transform: translateY(0%);
    }

    .menu-left__item {
        margin-top: 20px;

        &:first-child {
            margin-top: 50px;
        }

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}