// Main colors
$primary-color: #121212;
$secondary-color: #515151;
$accent-color: #4c65ad;
$subtitle-color: #151515;
$btn-color: #1566b3;
$btnMore-hover: #3862de;
$btnBook-hover: #2284e1;
$white: #fff;
$status-color: #01c839;
$nav-color: #004281;
$mainTitle-color: #eeeeee;

// Secondary colors 
$shadow-color: rgba(0, 0, 0, 0.54);
$shadow-color-deep: rgba(0, 0, 0, 0.8);
$silver-color: #bebebe;
$dusty-gray: #9b9b9b;