@import 'vars';
@import 'reset';
@import 'global';

// Start of header
.header {
    &__container {
        max-width: 1920px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        height: 122px;
        background: $nav-color;
    }
}

.menu {
    padding: 45px 47px;
}

.logo {
    margin: 0 auto;
}

// Left side
.menu-left {

    &__list {
        display: flex;
    }

    &__item {
        // display: inline-block;
        position: relative;
        z-index: 100;

        &:not(:last-child) {
            margin-right: 50px;
        }

        &:hover>.dropdown {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    &__link {
        @extend %main-font;
        font-weight: 500;
        font-size: 18px;
        line-height: 24 / 20 * 100%;
        color: $white;
    }
}

// Dropdown menu
.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 234px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;

    &::after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $white;
        border-width: 6px;
        margin-left: -6px;
    }

    &__item {
        // display: block;
        padding: 10px 2px 18px 15px;
    }

    &__link {
        @extend %main-font;
        font-weight: 300;
        font-size: 16px;
        line-height: 43 / 20 * 100%;
        color: $white;
        transition: all 0.1s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }
}

// Right side
.menu-right {
    padding-right: 58px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-left: 25px;
        }
    }

    &__link {
        @extend %main-font;
        font-size: 20px;
        line-height: 30 / 20 * 100%;
        color: $white;
    }

    &__link--uppercase {
        font-size: 16px;
        line-height: 20 / 16 * 100%;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.socials {
    display: flex;
    margin: 0 50px;

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }
}





// End of Header