.cashback {
    &__container {
        margin-bottom: 50px;
        padding-top: 100px;
        padding-bottom: 145px;
        text-align: center;
        overflow: hidden;
        background: $alice-blue;
        background: linear-gradient(rgba(73, 187, 255, 0.6), rgba(239, 249, 255, 0.6));
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
}