.contacts {
    padding-top: 100px;
    padding-bottom: 100px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
    }

    &__title {
        margin-top: 30px;
    }
}

.map {

    &__buttons {
        margin-bottom: 26px;
    }

    &__btn {
        position: relative;
        font-weight: 700;
        font-size: 25px;
        line-height: 30/ 25 * 100%;
        color: $accent-color;
        text-decoration: underline;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;

    &__box {
        position: relative;
        padding-left: 50px;

        &::before {
            position: absolute;
            left: 0;
        }

        &--phone {
            &::before {
                content: url(../images/grey-phone.svg);
            }
        }

        &--mail {
            &::before {
                content: url(../images/grey-mail.svg);
            }
        }

        &--office {
            &::before {
                content: url(../images/grey-pin.svg);
            }
        }

        &--base {
            &::before {
                content: url(../images/grey-compass.svg);
            }
        }
    }

    &__subtitle {
        margin-bottom: 10px;
        color: $dusty-gray;
    }

    &__link,
    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24 / 20 * 100%;
    }

    &__link {
        &:nth-child(2) {
            margin-right: 12px;
        }
    }
}

.contact-social {
    margin-top: 60px;

    &__title {
        margin-bottom: 24px;
    }

    &__text,
    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 32 / 20 * 100%;
    }

    &__link {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            content: url(../images/whatsapp-green.svg);
            top: 2px;
            left: 5px;

        }
    }
}