.cover {

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: 35px;
    }

    &__description {
        max-width: 530px;
        margin-bottom: 40px;
        font-weight: 500;

        line-height: 37 / 30 * 100%;
        color: $white;
    }

    &__btn {
        margin-top: 20px;
    }
}

.cover__description {
    font-size: 16px;
}

.review {
    position: relative;
    max-width: 421px;
    margin-top: 50px;

    &::before {
        position: absolute;
        content: '';
        top: 28px;
        left: -20px;
        height: 260px;
        border: 4px solid $white;
        opacity: 0.6;
    }

    &__title,
    &__author,
    &__text {
        color: $white;
    }

    &__title,
    &__author {
        font-weight: 600;
        line-height: 24 / 20 * 100%;
    }

    .review__title {
        font-size: 17px;
    }

    .review__text,
    .review__author {
        font-size: 15px;
    }

    &__text {
        margin: 15px 0;
        padding: 15px;
        line-height: 30 / 16 * 100%;
        background: $shadow-color;
        backdrop-filter: blur(3px);
    }

    &__author {
        float: right;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 60px;
    padding-bottom: 40px;
    background: $shadow-color;

    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
    }

    &__picture {
        margin-right: 30px;
    }

    &__title {
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22 / 18 * 100%;
        color: $white;
    }

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 17 / 14 * 100%;
        color: $silver-color;
    }
}