.entertainment {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
        margin-bottom: 20px;
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: auto;
        margin-top: 64px;
    }

    &__item {
        display: flex;
        padding: 30px 31px 60px 20px;
        background: $white;
        box-shadow: 4px 4px 22px rgba(94, 177, 255, 0.05);
    }

    &__picture {
        margin-right: 50px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__desc,
    &__price {
        font-size: 18px;
        line-height: 120%;
    }

    &__desc {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 370px;
    }

    &__price {
        position: relative;
        margin-top: 10px;
        margin-bottom: 18px;
        padding-left: 30px;
        font-weight: 500;
        font-style: italic;

        &::before {
            position: absolute;
            content: "";
            top: 11px;
            left: 0;
            width: 20px;
            border-bottom: 2px solid $accent-color;
        }
    }

    &__link {
        margin-top: 20px;
    }
}